/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}

h3{
    text-align: center;
}
/* /REGOLE GENERALI */

/* LOGO */

.logo{
    margin: 20px 0;
    text-align: center;
}

.logo img{
    width: 300px;
}

/* /LOGO */

/* SEZIONE INPUT */
.new-todo{
    margin-top: 30px;
    text-align: center;
}

.new-todo input{
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    min-width: 300px;
    margin-right: 10px;
}

.new-todo input:focus{
    outline: 0;
}

.new-todo button{
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

/* /SEZIONE INPUT */


/* CORPO PRINCIPALE */
.todo-container{
    margin: 40px;
    border-radius: 10px;
    background-color: #f5f7f7;
    padding: 30px;
}

.todo-container ul li{
    text-align: left;
    list-style: none;
}

.todo{
    border-bottom: 1px solid grey;
    padding: 10px;
    cursor: pointer;
}

.todo:hover{
    background-color: white;
}

.todo i{
    padding-left: 20px;
    float: right;
}

h3 i{
    margin-left: 20px;
}

/* /CORPO PRINCIPALE */