<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>ToDo List Vue</title>
    </head>
    <body>
        <div id="app" class="container">
            <div class="logo">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="Boolean Logo">

                <div class="new-todo">

                </div>

                <div class="todo-container">
                    <ul v-if="todos.length > 0">
                        <li class="todo" v-for="(todo, index) in todos">{{todo}} 
                            <i class="fas fa-times" @click="deleteToDo(index)"></i>
                        </li>
                    </ul>
                    <h3 v-else>Non ci sono elementi nella lista</h3>
                </div>

                <h3>Lista elementi eliminati</h3>
                <div class="todo-container">
                
                </div>
            </div>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>
